*.DS_Store
target
bin
temp
tmp
Temp
.settings
.classpath
.project
.metadata
maven-eclipse.xml
*.pyc
build
dist
.pydevproject
pkg
.svn
*.log
out
.externalToolBuilders
.vagrant
node_modules
typings
*.js.map
*.js
!/*.conf*.js
!/config/*
!/plugins/*
coverage
package-lock.json
.mavenrc
.factorypath
/.apt_generated/
/.apt_generated_tests/
.idea
*.iml
*.imdl
.launch
.vscode
